<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QCdb01Entities" connectionString="metadata=res://*/SMP.SMP.csdl|res://*/SMP.SMP.ssdl|res://*/SMP.SMP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.4.16;Initial Catalog=QCdb01;Integrated Security=True;MultipleActiveResultSets=False&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CompanyLINQDB.My.MySettings.Server1_QCdb01" connectionString="Data Source=Server04m;Initial Catalog=QCdb01;Persist Security Info=True;User ID=test01;Password=testPW"
      providerName="System.Data.SqlClient" />
    <add name="CompanyLINQDB.My.MySettings.Server1_Fincial" connectionString="Data Source=SERVER04M;Initial Catalog=Fincial;Persist Security Info=True;User ID=WebLoginUser;Password=&quot;w;6bj/6@ej03&quot;"
      providerName="System.Data.SqlClient" />
    <add name="CompanyLINQDB.My.MySettings.AS400" connectionString="Dsn=AS400;uid=pgmrodbc;pwd=tangeng" />
    <add name="CompanyLINQDB.My.MySettings.Server1_STK" connectionString="Data Source=SERVER04M;Initial Catalog=STK;Persist Security Info=True;User ID=WebLoginUser;Password=&quot;w;6bj/6@ej03&quot;"
      providerName="System.Data.SqlClient" />
    <add name="CompanyLINQDB.My.MySettings.Server1_OtherOperator"
      connectionString="Data Source=server04m;Initial Catalog=OtherOperator;Persist Security Info=True;User ID=WebLoginUser;Password=&quot;w;6bj/6@ej03&quot;"
      providerName="System.Data.SqlClient" />
    <add name="CompanyLINQDB.My.MySettings.Server1_IM" connectionString="Data Source=SERVER04M;Initial Catalog=IM;Persist Security Info=True;User ID=WebLoginUser;Password=&quot;w;6bj/6@ej03&quot;"
      providerName="System.Data.SqlClient" />
    <add name="CompanyLINQDB.My.MySettings.Server1_Business" connectionString="Data Source=SERVER04M;Initial Catalog=Business;Persist Security Info=True;User ID=WebLoginUser;Password=&quot;w;6bj/6@ej03&quot;"
      providerName="System.Data.SqlClient" />
    <add name="CompanyLINQDB.My.MySettings.QCdb01ConnectionString"
      connectionString="Data Source=SERVER04M;Initial Catalog=QCdb01;Persist Security Info=True;User ID=test01"
      providerName="System.Data.SqlClient" />
    <add name="CompanyLINQDB.My.MySettings.BusinessConnectionString"
      connectionString="Data Source=server04m;Initial Catalog=Business;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- 這個區段定義 My.Application.Log 的記錄組態-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>